.btn-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-wrapper span {
  padding-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.btn-wrapper button {
  margin-top: 50px;
  background-color: #7bed9f;
  padding: 10px 50px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: inset 0 0 5px rgba(33, 133, 58, 0.63);
  transition: box-shadow 0.5s linear;
}

.btn-wrapper button:hover {
  box-shadow: inset 0 0 5px rgba(33, 133, 58, 0.63),
    0 10px 8px rgba(33, 133, 58, 0.63), -5px 10px 8px rgba(33, 133, 58, 0.23),
    5px 10px 8px rgba(33, 133, 58, 0.23);
}

.btn-wrapper button:active {
  transform: scale(1.2, 1.2);
}

.btn-wrapper button:focus {
  outline: none;
}
